pre.highlight,
pre {
  margin: 10px 10px; /* Margen horizontal automático, el mismo en ambos lados */
  border: 1px solid rgba(128, 128, 128, 0.1);
  background-color: #1a1b21;
  border-radius: 2px;
  padding: 5px;
  display: block;
  overflow-x: auto;
}

pre.highlight,
pre code {
  width: 100%;
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5;
  display: block;
  border: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

pre code.highlighter-rouge {
  padding: 1px 3px;
  position: relative;
  top: -1px;
  background-color: #f6f6f6;
  border-radius: 2px;
  border: 1px solid rgba(128, 128, 128, 0.1);
}

